aiohttp==3.9.5
aiosignal==1.3.1
annotated-types==0.7.0
async-timeout==4.0.3
attrs==23.2.0
beautifulsoup4==4.12.3
certifi==2024.6.2
cffi==1.16.0
chardet==5.2.0
charset-normalizer==3.3.2
click==8.1.7
cryptography==42.0.8
dataclasses-json==0.6.7
emoji==2.12.1
filetype==1.2.0
frozenlist==1.4.1
greenlet==3.0.3
idna==3.7
joblib==1.4.2
jsonpatch==1.33
jsonpointer==2.4
langchain==0.2.3
langchain-community==0.2.4
langchain-core==0.2.5
langchain-experimental==0.0.60
langchain-text-splitters==0.2.1
langdetect==1.0.9
langsmith==0.1.75
lxml==5.2.2
marshmallow==3.21.3
multidict==6.0.5
mypy-extensions==1.0.0
nltk==3.8.1
numpy==1.24.4
orjson==3.10.3
pdf2image==1.17.0
pdfminer==20191125
pdfminer.six==20231228
pillow==10.3.0
protobuf==4.24.2
pycparser==2.22
pycryptodome==3.20.0
pydantic==2.7.3
pydantic_core==2.18.4
python-iso639==2024.4.27
python-magic==0.4.27
PyYAML==6.0.1
regex==2024.5.15
requests==2.32.3
soupsieve==2.5
SQLAlchemy==2.0.30
tabulate==0.9.0
tenacity==8.3.0
tqdm==4.66.4
typing-inspect==0.9.0
unstructured==0.10.19
urllib3==2.2.1
vdms==0.0.21
yarl==1.9.4
